@font-face {
  font-family: RedHatDisplay;
  src: url("../build/fonts/RedHatDisplay-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: RedHatDisplay;
  src: url("../build/fonts/RedHatDisplay-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: RedHatDisplay;
  src: url("../build/fonts/RedHatDisplay-Black.ttf");
  font-weight: 700;
}

@font-face {
  font-family: RedHatDisplay;
  src: url("../build/fonts/RedHatDisplay-Regular.ttf");
  font-weight: 400;
}

body {
  font-family: "RedHatDisplay", sans-serif;
  font-size: 18px;
  color: #000000;
}

nav, .intro-content, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "RedHatDisplay", sans-serif;
}



a {
  color: #cc0000;
}

a:link {
  color: #cc0000;
}

a:visited {
  color: #a30000;
}

.padding-top-lg {
  padding-top: 5em;
}

.xs-smaller {
  font-size: .6em;
}

.smaller {
  font-size: .8em;
}

.tagline {
  font-family: "RedHatDisplay", monospace;
  color: #a30000;
  font-size: 48px;
  font-weight: bold;
  padding: 0.2em 0px !important;
}

.navbar {
  padding: 0;
  color: #4c4c4c;
  box-sizing: border-box;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  clear: both;
}

.navbar > .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: table;
}

.navbar-header{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    display: table;
    clear: both;
}

.navbar-header > button::after, .navbar-header > button::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-collapse {
    clear: both;
    display: table;
    border-color: #e7e7e7;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.navbar-collapse.collapse{
    display: none;
}

.navbar-collapse.collapse.in{
    display: block;
}
ul.nav {
    display: table;
    margin: 7.5px -15px;
    padding-left: 0;
    list-style: none;
    box-sizing: border-box;
}

ul.nav > li {
    position: relative;
    display: block;
}

ul.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 20px;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
}

.footer-section .container {
  display: block;
  padding: 2ex;
}

.footer-section .container img {
  width: 150px;
}

.venue-section, .schedule-section, .speakers-section {
  padding-bottom: 0px;
}

footer {
  color: white;
  width: 100%;
}

@media screen and (min-width: 768px){
    .navbar > .container {width: 670px;}

    footer{
	    bottom: 0px;
    }
    .navbar-header {
        float: left;
        margin-left: 0px;
        margin-right: 0px;  
    }

    .venue-section, .schedule-section, .speakers-section {
	padding-bottom: 170px;
    }

    .navbar-collapse {
        margin-left: 0px;
        margin-right: 0px;
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        width: auto; 
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    ul.nav{
        float: left;
        margin: 0;
    }

    ul.nav > li {
	float: left
    }

    ul.nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    ul.navbar-right {
        float: right !important;
        margin-right: -15px;
    }

    .footer-section .container{
        width: 49%;
        display: inline-block;
        padding: 2ex;
        vertical-align: middle;
    }

}

@media screen and (min-width: 992px){
    .navbar > .container {width: 750px;}
    .venue-section, .schedule-section, .speakers-section {
        padding-bottom: 140px;
    }
}

@media screen and (min-width: 1200px){
    .navbar > .container {width: 1170px;}
}

.navbar-brand {
  padding-top: 0;
  display: none; /* jQuery cares about this */
}

.nav > li > a {
  padding-right: 10px;
  padding-left: 10px;
  color: #4c4c4c;
}

.top-branding {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding-top: 10px;
}

.social {
  font-size: 0.90em;
}

section {
  background: #fff;
  line-height: 1.6;
  clear: both;
  display: block;
  padding: 0 0 4em;
  overflow: hidden;
}

section h2 {
  text-align: center;
  clear: both;
  background-color: #670101;
  color: #fff;
  padding: 0.8em;
  margin: 0 0 1em;
  text-shadow: 0 2px 4px rgba(69, 50, 195, 0.3);
  font-weight: bold;
}

h3, h4 {
  padding: 2em 0 1em;
}

h3.first {
  padding-top: 0;
}

.coc-section {
  padding-top: 100px;
}

.coc-section .logo {
  text-align: center;
}

.intro-section {
  overflow: hidden;
  text-align: center;
  background-size: contain;
  padding: 2em 0 4em;
  font-size: 34px;
  color: #000000;
}

.logo img {
  max-width: 90%;
  height: auto;
}

.logo-mobile {
  padding-top: 15px;
}

.intro-content .logo {
  /* Visually compensate for the .cz */
  position: relative;
  left: 20px;
  overflow: hidden;
}

.intro-content > div {
  padding: 0.5em 0;
}

.intro-content {
  float: none;
  margin: 0px auto;
}

.intro-text {
  margin: 0 auto;
  max-width: 30em;
  margin-bottom: 15px;
}

.time-and-place address {
  margin: 0;
}

.about-section {
  padding-bottom: 3%;
  background: #dcdcdc;
}

.registration-section,
.testimonials-section,
.brno-section,
.faq-section,
.faq-section,
.sponsors-section {
  background: #dcdcdc;
}

.register{
  font-weight: bold;
}

.venue-section h2 {
  margin-bottom: 0;
}

.sponsors-section {
  text-align: center;
}

.footer-section {
  background: #000;
  text-align: center;
}

.fa {
  margin-right: 0.5ex;
}

h2 .fa {
  margin-right: 0;
}

#travel-text {
  height: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#more-text {
  display: inherit;
}

#less-text {
  display: none;
}

.banner-image{
   max-width: 1600px;
   min-width: 500px;
   height: 220px;
   background: url("../imgs/banner.png") no-repeat;
   margin: 0px auto;
   background-position: center;
}

.main-banner{
   width: 100%;
   height: 220px;
   background: #670101;
   margin: 0px;
}

/* Mobile device tweaks */
@media screen and (max-width: 752px) {
  .banner-image{
    min-width: 300px;
    background: url("../imgs/logo-virtual.png") no-repeat;
    background-position: center;
    background-size: contain;
  }

  .intro-section {
    padding-top: 75px;
    font-size: inherit;
    padding-bottom: 0;
  }

  .intro-content {
    /* Add a light screen over the background */
    background-color: rgba(255,255,255,1);
    padding-bottom: 4em;
  }

  .intro-content > div {
    padding: 0.5em 0;
  }


  .intro-section .logo {
    left: 10px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-text {
    max-width: 18em;
  }
}

.tabs .tab a {
    color: #4c4c4c;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #CC0000;
}

.intro-text-2 {
    font-size: 48px;
}

nav{
    box-shadow: none;
}
